<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>NVDBchat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        {% block header %}
        <div class="app-header">
            <h1>NVDBchat</h1>
            <div>
                {% if session.user_id %}
                    <a href="{{ url_for('chats') }}">Чаты</a>
                    <a href="{{ url_for('profile') }}">Профиль</a>
                    <a href="{{ url_for('logout') }}">Выйти</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>